// modulare klassen

.pos-relative {
  position: relative;
}
.pull-none {
  float: none !important;
}
.bg--none {
  background: none !important;
}
.icon--circle {
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
}
