// modulare klassen

.pos-relative {
  position: relative;
}
.pull-none {
  float: none !important;
}
.bg--none {
  background: none !important;
}
.icon--circle {
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
}
.headline-wrapper {
  background: #ebebeb;
  padding: 50px 0;
  margin-bottom: 30px;
  .headline {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    display: block;
  }
}
.description {
  font-family: 'Droid Serif', serif;
}

