header {
 .cd-main-nav-wrapper {
   .cd-main-nav {

   }
   .social-wrapper {
     float: right;
     li {
       float: left;
       padding: 0;
       a {
         font-size: 21px;
         color: #666666;
         padding: 0 8px;
       }
     }
   }
 }
}